@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
.title {
    background-color: aquamarine;
}

.orders {
    background-color: white;
}

.product {
    background-color: white;
    border: red solid 1px;
    border-radius: 10px;
    cursor: pointer;
}

.product:hover {
    background-color: red;
    color: white;
}

.fa-trash{
    cursor: pointer;
}
