body {
    background-image: url("food-2379472_1920.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.bg {
    background-color: rgb(255, 255, 255, .93);
    border-radius: 5px;
    margin-top: 20%;
}

.input {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 2px;
    margin-top: 5px;
}